# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

services:
  db-expense-manager:
    image: postgres:16-alpine
    container_name: expense-manager-postgres
    platform: linux/arm64 
    restart: always
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    healthcheck:
      test: [ "CMD", "pg_isready -U adonis" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data:

